*{
    margin: 0px;
    padding: 0px;
}
.div-title{
    display: flex;
    padding: 15px 60px;
    text-align: center;
    align-items: center;
    
}
#title-d{
    color: tomato;
    font-size: 25px;
    font-weight: 600;
}
nav{
    /* background-color: gray; */

}
.nav-container{
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
    align-items: center;
}
.menus{
    list-style: none;
    display: flex;
      align-items: center;
    gap: 30px;
}
.menu-bar{
    color: black;
    font-size: 20px;
    font-weight: 500;
}
/* banner designs */
.banner{
    height: 100vh;
    /* width: auto; */
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.banner-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
#banner-h1{
    color: white;
    font-size: 60px;
    font-weight: 700;
}
.btn-primary{
    padding: 15px 25px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
}
.bg{
    background-color: red;
    border: none;
    color: white;
}
.banner-description{
    color: white;
    font-size: 20px;
}

/* service designs
 */
 .service-container{
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    background-blend-mode: overlay;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
 }
 .icon{
    width: 100px;

 }
 .box{
    padding: 45px;
    width: 150px;
    height: 160px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 8px red;
    margin-top: 5px;
 }
.service-description{
    width: 70%;
    margin-top: 20px;
    font size: 30px;
}
.all-boxes{
    display: flex;
    gap: 5px;
}
ol{
    padding-left: 20px;
    margin-top: 10px;
}
.service-image-name{
    display: flex;
    align-items: center;
    border-right: 2px solid red;
    padding-right: 20px;
    
    
}
.author-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.service-last{
    display: flex;
    border-right: 2px solid red;
    margin-top: 25px;
}
.service-btn{
    margin-left: 20px;
}
.service-title{
    margin-top: 25px;
    font-size: 35px;
}
/* apoinment sections */
.apoointment-container{
    width: 70%;
    background-color: orangered;
    margin: auto;
    margin-top: -30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
}

.icon-phn{
    width: 70px;
}
.phone{
    display: flex;
    text-align: center;
    padding: 20px;
    
    
}
.phn-nmbr{
    padding-top: 20px;
    padding-left: 5px;
    border-right: 2px solid green;
    padding-right: 30px;
}
b{
    font-size: 20px;
    color: white;
}
.apoinment-content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.apointment-text{
    width: 300px;
    /* text-align: center; */
}
.sv{
    border-radius: 10px;
    height: 40px;
    font-size: 14px;
    padding-top: 2px;
}